include ../base/_mixins.pug

block variables
doctype html
html(lang="ru", class=`${pageM?`${pageM}`:''}`)
  head
    meta(charset="utf-8")
    meta(name="description" content="Разработка и сопровождение сайтов и веб приложений")
    meta(name="keywords" content="")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(name="viewport" content="width=device-width, initial-scale=1.0" )
    style .svg-use,.svg_next{max-width: 2rem;}

    title #{title}
  body(class=`${pageM?`${pageM}`:''}`)
    //[if lt IE 8]> <p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http:// browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p> <![endif]
    .l-wrapper
      block extend
    #loader-wrapper
      #loader
        svg.svg_preloader(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="144px" height="144px" viewBox="0 0 144 144")
          circle#bigCircle(opacity="0.4" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" cx="72" cy="71.999" r="70")
          circle#middleCircle(opacity="0.7" fill="none" stroke="#FFFFFF" stroke-width="3.8938" stroke-miterlimit="10" cx="72" cy="72" r="55")
          circle#smallCircle(fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" cx="72" cy="72" r="40")
        .loader__text#preloaderText
          span
      .loader-section.section-left
      .loader-section.section-right