extends ./main.layout.pug

block extend
	- var component = 'c-header'
	-
		var navList = [{pageUrl: '#my_works', title: 'мои работы'},
			{pageUrl: '#blog', title: 'блог'},
			{pageUrl: '#about', title: 'обо мне'},
			{pageUrl: '#login', title: 'авторизация'}]

	header(class=`l-section l-header${pageClMod?` l-header_${pageClMod}`:''}`)
		block headerMode
			include ../components/section-header.pug
	//-section(class=`l-section l-content${pageClMod?` l-content_${pageClMod}`:''}`)
		block content
	section(class=`l-section l-footer${pageClMod?` l-footer_${pageClMod}`:''}`)
		block footer
	.l-hamburger
		nav.c-hamburger-nav
			a.c-hamburger-nav__target(href="")
				span.c-hamburger-nav__fake
			ul.c-hamburger-nav__list.visually-hidden
				each val in navList
					li.c-hamburger-nav__item
						a.c-hamburger-nav__link(href=`${val.pageUrl}`)= val.title

