mixin icon(iconName, iconClass)
	svg(class=`${iconClass}`)
		use(xlink:href=`./assets/images/sprites/sprite_social.svg#${iconName}`)
			title=iconName

mixin iconID(iconName, iconClass)
	svg(class=`${iconClass}`)
		use(xlink:href=`./images/icons/sprite.svg#${iconName}`)
			title=iconName

mixin image(imagePath, imageAlt, imageClass)
	img(src=`./images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)