mixin icon(iconName, iconClass, url)
	svg(class=`${iconClass}`)
		use(xlink:href=`${url}#${iconName}`)
			title=iconName

mixin social(classPrefix, listSocial, url)
	ul(class=`${classPrefix}-social`)
		each val in listSocial
			li(class=`${classPrefix}-social__item`)
				a(class=`${classPrefix}-social__link`, href="#" target="blank")
					+icon(val, 'svg-use', url)

mixin iconID(iconName, iconClass)
	svg(class=`${iconClass}`)
		use(xlink:href=`./images/icons/sprite.svg#${iconName}`)
			title=iconName

mixin image(imagePath, imageAlt, imageClass)
	img(src=`./images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)