mixin icon(iconName, iconClass, url)
	svg(class=`${iconClass}`)
		use(xlink:href=`${url}#${iconName}`)
			title=iconName

mixin social(classPrefix, listSocial, urlIcon)
	ul(class=`${classPrefix}__social`)
		each val in listSocial
			li(class=`${classPrefix}__social-item`)
				a(class=`${classPrefix}__social-link`, href=`${val.url}`, target="_blank")
					+icon(val.iconID, 'svg-use', urlIcon)

mixin navMenu(navlist)
	ul.c-nav__list
		each val in navList
			li.c-nav__item
				a.c-nav__link(href=`${val.pageUrl}`)= val.title	

mixin hamburger(navlist)
	.l-hamburger
		nav.c-hamburger-nav
			a.c-hamburger-nav__target(href="")
				span.c-hamburger-nav__fake
			ul.c-hamburger-nav__list.visually-hidden
				each val in navList
					li.c-hamburger-nav__item
						a.c-hamburger-nav__link(href=`${val.pageUrl}`)= val.title

mixin iconID(iconName, iconClass)
	svg(class=`${iconClass}`)
		use(xlink:href=`./images/icons/sprite.svg#${iconName}`)
			title=iconName

mixin image(imagePath, imageAlt, imageClass)
	img(src=`./images/${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)