extends ../assets/pug/layout/main.layout.pug
block variables
	- var title = 'Обо мне'
	- var bgTitleSvgId = 'portfolio_header'
	- var aboutText = 'Я веб разработчик из Санкт-Петербурга. Мне 38 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!'
	- var skillsDescText = 'Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.'
	-
		var navList = [{pageUrl: './my_works.html', title: 'мои работы'},
			{pageUrl: './blog.html', title: 'блог'},
			{pageUrl: '#', title: 'обо мне'},
			{pageUrl: '#login', title: 'авторизация'}]
	- var footerText = 'Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.'
	-
		var copy = [
			'&copy;&nbsp;Yuliya Volkova',
			'создано в &laquo;&nbsp;LoftSchool&nbsp;&raquo;',
			'2018' ]
	- var social = ['vk', 'github', 'in']

block extend
	section(class='l-section l-hero')
		include ../assets/pug/components/section-hero.pug
			block content
				.l-content__wrapper
					.l-content__column-one
						+icon('about_header', `svg_about`, '../assets/images/sprites/sprite.svg')
					.l-content__column-two
					.l-content__inner
						.l-content__inner-column-one
							.c-about-card
								.c-about-card__header
									+icon('dash', 'svg_dash', '../assets/images/sprites/sprite.svg')
									h2.h-title-section обо мне
									+icon('dash', 'svg_dash', '../assets/images/sprites/sprite.svg')
								img.c-about-card__img(alt="", src=require('../assets/images/content/photo.jpg'))
								.c-about-card__content
									.c-about-card__content-header
										+icon('dash', 'svg_dash', '../assets/images/sprites/sprite.svg')
										h3.h-title-article Кто я
										+icon('dash', 'svg_dash', '../assets/images/sprites/sprite.svg')
									.c-about-card__content-text= aboutText
						.l-content__inner-column-two
							.c-skills-card
								.c-skills-card__header
									+icon('dash', 'svg_dash', '../assets/images/sprites/sprite.svg')
									h3.h-title-article Чем я могу быть вам полезен
									+icon('dash', 'svg_dash', '../assets/images/sprites/sprite.svg')
								.c-skills-card__desc= skillsDescText
								ul.c-skills-card__container

						.l-section.l-last
							.l-map-container
							footer.l-footer
								.l-footer__left
									+navMenu(navlist)
									.c-footer__text= footerText
								.l-footer__right
									+social('l-footer', social, '../assets/images/sprites/sprite.svg')
									ul.c-copy.c-copy_footer
										each val in copy
											li.c-copy_item!= val
									
	+hamburger(navlist)